<%# チャット画面　ヘッダー %>
<div class="chat-top">
  <div class = "chat-top-left">
    <div class="chatroom-title">
      hogefuga
    </div>
  </div>
  <div class = "chat-top-right">
    <div class="end-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<%# チャット画面　メイン %>
<div class="chat-main">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>
</div>

<%# チャット画面　投稿フォーム %>
<div class="chat-form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>