.wrapper{
  display: flex;
}

/* サイドバー */
.side-bar{
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

/* サイドバー　ヘッダー */
.side-top{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-chat a{
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

/* サイドバー　メイン */
.side-main{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.chatroom{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

/* チャット画面 */
.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100vh;
}

.chat-top{
  height: 100px;
  padding: 0 40px;
}

.chat-main{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0 40px;
}

.chat-bottom{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}
